
<%= form_for ([@restaurant, @reservation]) do |f| %>

  <div>
    <%= f.label :res_date_time %>
    <%= f.datetime_select :res_date_time %>
  </div>
  <div>
    <%= f.label :seats %>
    <%= f.number_field :seats %>
  </div>
  <div>
    <%= f.submit "book" %>
  </div>
<% end %>
