<h1><%= @restaurant.name %> </h1>

<div class="restaurant_show">
  <p>
    <%= @restaurant.category.name %><br/>
    <%= @restaurant.description %><br/>
    <% @restaurant.price.times do %>
      <%= p '$' %>
    <% end %><br/>
    <%= @restaurant.address %><br/>
    <%= @restaurant.phone_number %>
  </p>
  <p>
    <%= @restaurant.open_hours %> : <%= @restaurant.close_hours %>
  </p>
</div>

<h2>Seat yo self</h2>


<%= render 'reservations/form' %>


<% if current_user %>
  <% current_user.reservations.each do |res| %>
  <p>
    <%= res.res_date_time %>, <%= res.seats %>
  </p>
  <% end %>
<% end %>
