<!DOCTYPE html>
<html>
<head>
  <title>SeatYourself</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Passion+One|Pacifico|Shadows+Into+Light|Covered+By+Your+Grace|Courgette' rel='stylesheet' type='text/css'>

</head>

<header>

    <nav class="nav-bar">
      <section id='nav-grid'>
        <div class="home-button">
          <%= link_to image_tag('seatyoself.jpg'), root_url %>
        </div>

    <ul>
      <% if current_user %>
      <li>Signed in as <%= current_user.name %>
        <%= link_to "Log Out", session_path("current"), :method => :delete %> |
      </li>
      <% else %>
      <li>
        <%= link_to "Log In", new_session_path %> | <%= link_to 'Sign up', new_user_path %> |
      </li>
        <% end %>
      <li>
        <%= link_to "Cuisines", categories_path %>
      </li>
    </ul>
  </section>

  </nav>
</header>

<body>
  <div class="container">
    <main>
      <% if flash[:notice] %>
      <p id="notice">
        <%= flash[:notice] %>
      </p>
      <% end %>
      <% if flash[:alert] %>
      <p>
        <%= flash[:alert] %>
      </p>
      <% end %>

      <%= yield %>
    </main>



  <footer>
    <p class="copyright">Copyright &#169; 2015 by Team Veg</p>
  </footer>


  </div>
</body>
</html>
